* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}


/*header*/



.niños {
    width: 100%;
    height: 300px;
    margin: 0;
    object-fit: cover;
}

nav {
    display: flex;
    gap: 2rem;

}

.san {
    position: absolute;
    top: 23%;
    left: 37%;
    width: 500px;
    height: 80px;
    z-index: 20;
}

.flecha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.corte {
    width: 56px;
    height: 8vh;
    background-color: #468DAE;
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 100%);

}

.corte2 {
    width: 50px;
    height: 8vh;
    background-color: #468DAE;
    padding: 20px;
    clip-path: polygon(100% 0, 100% 0, 0 100%, 0 0, 100% 0);

}

.bloque {
    width: 140vh;
    height: 8vh;
    background-color: #468DAE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-size: 4vh;
    text-decoration: none;
}


nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: #F4791B;
    text-decoration: underline;
    text-underline-offset: 9px;
}

/* Mantener el color naranja en el enlace activo */
nav a.active {
    color: #F4791B;
    text-decoration: underline;
    text-underline-offset: 9px;
}

/*main*/

table{
    margin: 250px auto;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 12px;
}

table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    min-width: 100px;
}

th{
    background-color: #4A8BAC;
    color: white;
    border: 0px;
}

th:first-child{
    background-color: #4A8BAC;
    color: white;
    border: 1px solid rgb(163, 163, 163);
}


/*footer*/


footer{
    background-color: #468DAE;
    color: #FFFFFF;
    width: 100%;
    padding: 1rem;

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.logoxunta{
    width: 80%;
}

.facebook, .youtube, .instagram {
    width: 40px;
    height: 40px;
}

.movil{
    display: none;
}

@media screen and (max-width: 680px) {
    .movil {
        display: block;
        position: fixed; /* Ocupa toda la pantalla */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border: none; /* Elimina bordes */
        z-index: 9999; /* Asegura que esté sobre otros elementos */
      }
}