table{
    margin: 80px auto;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 12px;
}

table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    min-width: 100px;
    max-width: 250px;
}

th{
    background-color: #4A8BAC;
    color: white;
    border: 0px;
}

th:first-child{
    background-color: #4A8BAC;
    color: white;
    border: 1px solid rgb(163, 163, 163);
}

#tag-container{
    margin: 20px;
    height: 29px;
}

.modulo-boton{
    padding: 8px;
    border-radius: 10px;
    margin-right: 25px;
    border: solid 2px #4A8BAC;
    background-color: white;
}

.modulo-boton:active{
    border: solid 2px #266281;
    background-color: #ebebeb;
}