* {
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html {
    scroll-behavior: smooth;
    height: 100%;

}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}


/*header*/

.niños {
    width: 100%;
    height: 300px;
    margin: 0;
    object-fit: cover;
}

nav {
    display: flex;
    gap: 2rem;
}

.san {
    position: absolute;
    top: 210px;
    left: calc(50% - 250px);
    width: 500px;
    height: 80px;
    z-index: 2;
}

.flecha {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: -4px;
}

.corte {
    width: 60px;
    height: 8vh;
    background-color: #468DAE;
    padding: 20px;
    clip-path: polygon(0 0, calc(100% - 2px) 0, 100% 0, 100% 100%, calc(100% - 2px) 100%);
    position: relative;
    right: -2px;
}

.corte2 {
    width: 60px;
    height: 8vh;
    background-color: #468DAE;
    padding: 20px;
    clip-path: polygon(0 0, 2px 0, 100% 0, 2px 100%, 0 100%);
    position: relative;
    left: -2px;
}

.bloque {
    width: 140vh;
    height: 8vh;
    background-color: #468DAE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-size: 4vh;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: color 0.3s;
    font-size: 2rem;
}

nav a:hover {
    color: #F4791B;
    text-underline-offset: 9px;
}

/* Mantener el color naranja en el enlace activo */
nav a.active {
    color: #F4791B;
    text-decoration: underline;
    text-underline-offset: 9px;
}


/* CUERPO */

#mensaje-bienvenida{
color: #F4791B;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#select-modulo {
    margin: 15px 0; /* Espacio entre el selector y los botones */
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.centro div {
    margin-top: 15px;

}

/* Estilos para los botones */
button {
    background-color: #468DAE;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}


/* FOOTER */



footer {
    background-color: #468DAE;
    color: #FFFFFF;
    width: 100%;
    padding: 1rem;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    gap: 20px;
}

.logoxunta {
    width: 80%;
}

.facebook, .instagram {
    width: 40px;
    height: 40px;
}

.youtube {
    width: 50px;
    height: 50px;
}

.logout{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1000px){
    .logout{
        display: inline;
    }
}

footer a{
    color: white;
}

footer p{
    margin: 0px;
}
/* ESTILOS DA LA TABLA DEL HORARIO */

table{
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 12px;
    margin-bottom: 5%; 
}

table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    min-width: 100px;
    max-width: 250px;
}

th{
    background-color: #468DAE;
    color: white;
    border: 0px;
}

th:first-child{
    background-color: #468DAE;
    color: white;
    border: 1px solid rgb(163, 163, 163);
}

#tag-container{
    margin: 20px;
    height: 29px;
}

.modulo-boton{
    padding: 8px;
    border-radius: 10px;
    margin-right: 25px;
    border: solid 2px #4A8BAC;
    background-color: white;
    color: black;
}

.modulo-boton:active{
    border: solid 2px #266281;
    background-color: #ebebeb;
}

#movil{
    display: none;
}

@media screen and (max-width: 680px) {
    #movil {
        display: block;
    }

    #movil > iframe {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border: none;
    }

    #desktop{
        display: none;
    }
}