/* Frame de módulos */
 
  /* Estilos de cada alumno */
  .modulo {
   display: flex;
       justify-content: space-between;
       align-items: center;
       background: #d3d3d3;
       padding: 10px;
       border-radius: 5px;
       margin-bottom: 10px;
  }

  #listaModulos{
    margin-top: 16%;
    height: 300px;
}
  