/* Frame de ciclos */
.sesion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#listaSesiones{
    margin-top: 16%;
    height: 300px;
}

.modal select {
    width: 100%; /* Que el select respete el ancho del contenedor */
    max-width: 100%; /* Evitar que se salga */
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño */
    overflow: hidden; /* Prevenir que se salga si el contenido es largo */
}


