body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.welcome h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.login button, .register button, .form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login button:hover, .register button:hover, .form button:hover {
    background-color: #0056b3;
}

.form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.logoXunta{
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}