/* Frame de módulos */
 
  /* Estilos de cada alumno */
  .modulo {
    background-color:#d3d3d3;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }

  