<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IES SAN CLEMENTE</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/alumnos_movil.css">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <img src="/images/logo.png" alt="logo san clemente" class="logoSanClemente">
    </header>

    <main>
        <button id="menuToggle" class="menu-toggle">&#9776;</button>
            <nav class="panel" id="navPanel">
                <ul>
                    <li><button id="userName">Current User</button></li>
                    <li><button id="ciclosBtn">Ciclos</button></li>
                    <li><button id="modulosBtn">Módulos</button></li>
                    <li><button id="horariosBtn">Sesiones</button></li>
                    <li><button id="alumnosBtn">Alumnos</button></li>
                    <li><button id="profesoresBtn">Profesores</button></li>
                </ul>
                <a id="logoutBtn" href="../logout">Cerrar Sesión</a>
            </nav>

            <!-- Frame de Alumnos -->
            <div id="alumnosFrame" class="frame">
                <div id="options">
                    <input type="text" placeholder="Filtro" id="filtro">
                    <button id="botonAgregar3" class="botonAgregar">Agregar</button>
                </div>
                <div id="listaAlumnos" class="lista">

                </div>
            </div>
    </main>

    <footer>
        <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
    </footer>
    <script src="/js/nav.js"></script>
    <script src="/js/alumnos_movil.js"></script>
</body>

</html>