<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IES SAN CLEMENTE</title>
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/ciclos_movil.css">
    </head>
    <body>
        <!-- Encabezado -->
        <header>
            <img src="/images/logo.png" alt="logo san clemente" class="logoSanClemente">
        </header>
        <main>
                <!-- Botón de Menú Hamburguesa -->
                <button id="menuToggle" class="menu-toggle">&#9776;</button>
                <!-- Panel de Navegación -->
                <nav class="panel" id="navPanel">
                    <ul>
                        <li><button>Current User</button></li>
                        <li><button id="ciclosBtn" >Ciclos</button></li>
                        <li><button id="modulosBtn" >Módulos</button></li>
                        <li><button id="horariosBtn" >Horarios</button></li>
                        <li><button id="alumnosBtn" >Alumnos</button></li>
                        <li><button id="profesoresBtn" >Profesores</button></li>
                    </ul>
                    <button id="logoutBtn">Cerrar Sesión</button>
                </nav>
            
                <!-- Frame de Ciclos -->
                <div id="ciclosFrame" class="frame">

                    <button id="botonAgregar5" class="botonAgregar">+</button>
                
                    <div id="listaCiclos" class="lista">
                        <!-- Los modulos se agregarán aquí -->
                        <div class="ciclo">
                        <span>Modulo 1</span>
                        <div class="acciones">
                            <button class="ver" id="verCiclo">👁️</button>
                            <button class="eliminar">❌</button>
                        </div>
                        </div>
                    </div>
                
                </div>
        </main>
        <!-- Pie de Página -->
        <footer>
            <article class="footer">
                <div class="xunta">
                    <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
                </div>
            </article>
        </footer>
        <script src="/js/nav.js"></script>
        <script src="/js/ciclos_movil.js"></script>
    </body>
</html>
 
 