<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IES SAN CLEMENTE</title>
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/ciclos_movil.css">
    </head>
    <body>
        <header>
            <img src="/images/logo.png" alt="logo san clemente" class="logoSanClemente">
        </header>
        <main>
            <button id="menuToggle" class="menu-toggle">&#9776;</button>

            <nav class="panel" id="navPanel">
                <ul>
                    <li><button>Current User</button></li>
                    <li><button id="ciclosBtn">Ciclos</button></li>
                    <li><button id="modulosBtn">Módulos</button></li>
                    <li><button id="horariosBtn">Sesiones</button></li>
                    <li><button id="alumnosBtn">Alumnos</button></li>
                    <li><button id="profesoresBtn">Profesores</button></li>
                </ul>
                <a id="logoutBtn" href="../logout">Cerrar Sesión</a>
            </nav>

            <div id="ciclosFrame" class="frame">
                <button id="botonAgregar5" class="botonAgregar">Agregar</button>
                <div id="listaCiclos" class="lista">

                </div>
            </div>
        </main>

        <footer>
            <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
        </footer>
        <script src="/js/nav.js"></script>
        <script src="/js/ciclos_movil.js"></script>
    </body>
</html>
 
 