<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Ciclos</title>
    <link rel="stylesheet" href="/css/ciclos.css">
    <script src="/js/ciclos.js" defer></script>
</head>

<body>
    <main id="movil">
        <iframe src="ciclos_movil" frameborder="0"  ></iframe>
    </main>
    <main id="desktop">
        <header>
            <section class="header_container">
                <img src="/images/logo.png" alt="san" class="san">
                <img src="/images/clase.jpg" alt="niños" class="niños">
                <div class="flecha">
                    <div class="corte"></div>
                    <div class="bloque">
                        <nav>
                            <a href="ciclos">Ciclos</a>
                            <a href="modulos">Módulos</a>
                            <a href="sesiones">Sesiones</a>
                            <a href="alumnos">Alumnos</a>
                            <a href="profesores">Profesores</a>
                        </nav>
                    </div>
                    <div class="corte2"></div>
                </div>
            </section>
        </header>

        <main>
            <h1>Ciclos Formativos</h1>
            <button id="btn-add" onclick="openModal()">Añadir Ciclo</button>
            <div id="cycle-container">

            </div>

            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Añadir Ciclo</h2>
                    <form id="cycle-form">
                        <label for="code">Código:</label>
                        <input type="text" id="code" required>

                        <label for="name">Nombre:</label>
                        <input type="text" id="name" required>

                        <label for="duration">Duración:</label>
                        <input type="number" id="duration" required>

                        <label for="description">Descripción:</label>
                        <textarea id="description" required></textarea>

                        <button type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <article class="footer">
                <div class="xunta">
                    <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
                </div>
                <div class="redes">
                    <img src="/images/facebook.svg" alt="facebook" class="facebook">
                    <img src="/images/instagram.svg" alt="instagram" class="instagram">
                    <img src="/images/youtube.svg" alt="youtube" class="youtube">
                </div>
            </article>
        </footer>
    </main>
</body>

</html>
