<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IES SAN CLEMENTE</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.19/jspdf.plugin.autotable.min.js"></script>

    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/horario_movil.css">
</head>
<body>
<!-- Encabezado -->
<header>
    <img src="/images/logo.png" alt="logo san clemente" class="logoSanClemente">
</header>
<main>
    <!-- Contenido Principal -->
    <div class="container">
        <!-- Botón de Menú Hamburguesa -->
        <button id="menuToggle" class="menu-toggle">&#9776;</button>

        <!-- Panel de Navegación -->
        <nav class="panel" id="navPanel">
            <ul>
                <li>
                    <button id="userName">Current User</button>
                </li>
                <li>
                    <button id="horariosBtn">Horario</button>
                </li>
                <li>
                    <button id="matriculasBtn">Matrículas</button>
                </li>
            </ul>
            <a id="logoutBtn">Cerrar Sesión</a>
        </nav>

        <!-- Frame de Horarios -->
        <div id="horariosFrame" class="frame">

            <label for="select-ciclo">Seleccionar Ciclo:</label>
            <select id="select-ciclo"></select> <!-- Selector de ciclos -->

            <div class="content">
                <button id="pdfButton">Generar PDF</button>
                <button id="xmlButton">Exportar XML </button>
                <button id="xlsxButton">Exportar XLSX</button>
            </div>

            <nav class="nav">
                <button class="dia" data-dia="Lunes">Lunes</button>
                <button class="dia active" data-dia="Martes">Martes</button>
                <button class="dia" data-dia="Miércoles">Miércoles</button>
                <button class="dia" data-dia="Jueves">Jueves</button>
                <button class="dia" data-dia="Viernes">Viernes</button>
            </nav>

            <div id="horariosList" class="horarios">
                <!-- Horarios se generarán dinámicamente aquí -->
            </div>

        </div>
    </div>
</main>
<!-- Pie de Página -->
<footer>
    <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
</footer>
<script src="/js/nav.js"></script>
<script src="/js/horario_movil.js"></script>
</body>
</html>



