<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/horario.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.30/jspdf.plugin.autotable.min.js"></script>
    <link rel="stylesheet" href="/css/horario.css">
</head>
<body>
    <label for="select-modulo">Filtrar módulo:</label>
    <select id="select-modulo"></select>

    <button id="btn-filtrar">Filtrar</button>
    <button id="btn-reset">Restablecer</button>
    <button id="btn-pdf">Generar PDF</button>

    <div id="tag-container"></div>
    <table>
        
    </table>
</body>
</html>