<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/horario.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.30/jspdf.plugin.autotable.min.js"></script>
    <link rel="stylesheet" href="/css/horario.css">
</head>
<body>

    <section class="header_container">
        <img src="/images/logo.png" alt="san" class="san">
        <img src="/images/clase.jpg" alt="niños" class="niños">
        <div class="flecha">
            <div class="corte"></div>
            <div class="bloque">
                <nav>
                    <a href="horarios">Horario</a>
                    <a href="matriculaalumno">Matrícula</a>

                </nav>
            </div>
            <div class="corte2"></div>
        </div>
    </section>

    <div class="centro">
        <h2 id="mensaje-bienvenida"></h2>

        <label for="select-modulo">Filtrar módulo:</label>
        <select id="select-modulo"></select>

        <div>
            <button id="btn-filtrar">Filtrar</button>
            <button id="btn-reset">Restablecer</button>
            <button id="btn-pdf">Generar PDF</button>
            <button id="btn-xml" onclick="generarXML()">Exportar XML</button>
            <button id="btn-xlsx" onclick="generarXLSX()">Exportar XLSX</button>
        </div>
    </div>


    <div id="tag-container"></div>
    <table>
        
    </table>

    <footer>
        <article class="footer">
            <div class="xunta">
                <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
            </div>
            <div class="logout">
                <p>Usted se ha identificado como <b id="usuarioFooter"></b></p>
                <span>(<a href="../logout">Cerrar sesión</a>)</span>
            </div>
            <div class="redes">
                <img src="/images/facebook.svg" alt="facebook" class="facebook">
                <img src="/images/instagram.svg" alt="instagram" class="instagram">
                <img src="/images/youtube.svg" alt="youtube" class="youtube">
            </div>
        </article>
    </footer>
</body>
</html>