<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IES SAN CLEMENTE</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/matriculaalumno_movil.css">
    <script src="/js/nav.js" defer></script>
    <script src="/js/matriculaalumno_movil.js" defer></script>
</head>
<body>
<header>
    <img src="/images/logo.png" alt="logo san clemente" class="logoSanClemente">
</header>
<main>
    <button id="menuToggle" class="menu-toggle">&#9776;</button>

    <nav class="panel" id="navPanel">
        <ul>
            <li>
                <button id="userName">Current User</button>
            </li>
            <li>
                <button id="horariosBtn">Horario</button>
            </li>
            <li>
                <button id="matriculasBtn">Matrículas</button>
            </li>
        </ul>
        <a id="logoutBtn">Cerrar Sesión</a>
    </nav>

    <div id="matriculasFrame" class="frame">
        <div id="options">
            <input type="text" placeholder="Filtro" id="filtro">
            <button id="botonAgregar1" class="botonAgregar">Agregar</button>
        </div>
        <div id="listaMatriculas" class="lista">
        </div>
    </div>
</main>
<footer>
    <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
</footer>
</body>
</html>


