<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Profesores</title>
    <link rel="stylesheet" href="/css/profesores.css">
    <script src="/js/profesores.js"></script>
</head>

<body>
    <main id="movil">
        <iframe src="profesores_movil" frameborder="0"></iframe>
    </main>
    <main id="desktop">

        <header>
            <section class="header_container">
                <img src="/images/logo.png" alt="san" class="san">
                <img src="/images/clase.jpg" alt="niños" class="niños">
                <div class="flecha">
                    <div class="corte"></div>
                    <div class="bloque">
                        <nav>
                            <a href="ciclos">Ciclos</a>
                            <a href="modulos">Módulos</a>
                            <a href="sesiones">Sesiones</a>
                            <a href="alumnos">Alumnos</a>
                            <a href="profesores">Profesores</a>
                        </nav>
                    </div>
                    <div class="corte2"></div>
                </div>
            </section>
        </header>

        <main>
            <h2 class="text2">Gestión de Profesores</h2>
            <div onload="init()">
                <button class="btnadd" id="openModal">Añadir Profesor</button>

                <h2 class="text1">Profesores añadidos</h2>
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Formulario de Profesor</h2>
                        <form id="profesorForm">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" required>

                            <label for="apellidos">Apellidos:</label>
                            <input type="text" id="apellidos" required>

                            <label for="email">Email:</label>
                            <input type="email" id="email" required>

                            <button type="submit">Agregar</button>
                        </form>
                    </div>
                </div>

                <table id="profesoresTable">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="pagesContainer"></div>
            </div>
        </main>

        <footer>
            <article class="footer">
                <div class="xunta">
                    <img src="/images/logoxunta.svg" alt="logoxunta" class="logoxunta">
                </div>
                <div class="logout">
                    <p>Usted se ha identificado como <b id="usuarioFooter"></b></p>
                    <span>(<a href="../logout">Cerrar sesión</a>)</span>
                </div>
                <div class="redes">
                    <img src="/images/facebook.svg" alt="facebook" class="facebook">
                    <img src="/images/instagram.svg" alt="instagram" class="instagram">
                    <img src="/images/youtube.svg" alt="youtube" class="youtube">
                </div>
            </article>
        </footer>
    </main>
</body>

</html>